/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
====================
Custom Styles for Complexity
====================
*/
h1 {
	font-size: 2em;
}

div {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	background-color: gray;
}

button {
	float: left;
	clear: both;
}

#inputs {
	clear: left;
	float: left;
	width: 200px;	
}

#outputs {
	float: left;
	width: 200px;	
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}



/*.input {
	border: 2px;
	background-color: yellow;
	font-family: serif;
	font-size: 16px;
}

.input:focus {
	outline: 2px;
}*/

.input-value {
	background-color: navy;
}

.selected {
	background-color: yellow;
}

.not-selected {
	background-color: blue;
}

.hidden {
	display: none;
}